{% extends 'base.html' %} {% block titulo %} Tienda virtual {% endblock %} {%
block contenido %}
<table align="center">
    <thead>
        <tr>
            <th>Marca</th>
            <th>Nombre</th>
            <th>Valor $</th>
        </tr>
    </thead>
    {% for producto in productos %}
    <tr>
        <td>{{ producto.marca }}</td>
        <td>
            <a href="{{ url_for('ruta_productos', pid=producto.id) }}"
                >{{ producto.nombre }}</a
            >
        </td>
        <td>{{ "{:,}".format(producto.precio) }}</td>
    </tr>
    {% endfor %}
</table>
{% endblock %}
